Updating Examples - Removal of Delegation Chain

The complete examples use the delegation chain and this is by no means necessary. We should update them and remove this functionality. I am also suggesting to remove this functionality from the trust-domains draft.

The example uses delegation chain:
https://datatracker.ietf.org/doc/html/draft-ietf-suit-firmware-encryption-18#name-es-dh-example-with-dependen

I have not so strong objection to remove it from this document because the situation is trivial: the trust anchor of the device delegates the distribution systen, not trusted by the device, to create a manifest (with encrypted payload).

But removing it from the trust-domains draft is another.
It is based on [section 3.25 of RFC 9124 (SUIT Information Model)](https://datatracker.ietf.org/doc/html/rfc9124#name-manifest-envelope-element-d) and I don't see any reason to remove it.
Without this functionality, the trust anchor needs to create another manifest to install a public key of delegated party.

Proposal to address this is the following:

* Define a separate draft that defines how to carry chains of CWTs in COSE structures based on https://github.com/hannestschofenig/tschofenig-ids/blob/master/cose-cwt-chain/draft-tschofenig-cose-cwt-chain.txt
* Remove delegation chains from trust domains draft, as proposed here: https://mailarchive.ietf.org/arch/msg/suit/wFy8mbf9_y3faBQZux9a1GfYxo0/
* Remove delegation chains from the examples in this draft to avoid creating yet another dependency.